.container {
  position: relative;
  
}

.container input[type="radio"] {
  position: absolute;
}

input[type="radio"] + span {
  position:absolute;
  width:200px;
  color:transparent;
}
input[value="Completely"] {
  top:45px;
  left:213px;
}

input[value="Completely"] +span{
  top:45px;
  left:218px;
  cursor: pointer;
  padding-bottom: 10px;
}

input[value="Mostly"] {
  top:109px;
  left:213px;
}

input[value="Mostly"] + span{
  top:109px;
  left:218px;
  cursor: pointer;
  padding-bottom: 10px;
}

input[value="Somewhat"] {
  top:250px;
  left:213px;
}

input[value="Somewhat"] + span{
  top:250px;
  left:218px;
  cursor: pointer;
  padding-bottom: 10px;
}

input[value="Not very"] {
  top:392px;
  left:213px;
}

input[value="Not very"] + span {
  top:392px;
  left:218px;
  cursor: pointer;
  padding-bottom: 10px;
}


input[value="Doesn't apply to me"] {
  top:485px;
  left:213px;
}


input[value="Doesn't apply to me"] + span{
  top:485px;
  left:218px;
  cursor: pointer;
  padding-bottom: 10px;
  padding-right:5px;
}


.response {
  height: auto;
  width: 100%;
  /*border-radius: 5%;*/
  border: 0px;
  background: white;
  vertical-align: middle;
  padding: 3px;
  /*text-align: center;*/
}

#funding{
  background-color: #f2f5f7;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius:5px;
  padding: 3%;
  margin-bottom:0;
  font-size: 0.8em;
}

#numitems{
  margin-top:12px;
}

.navbar:not(.fixed-bottom):not(.navbar-fixed-bottom):not(.navbar-fixed-bottom) {
    margin-bottom: 0px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: transparent;
    background-color: transparent;
}
