html {
     font-size: 14px; 
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

h2{
  margin-top:0px;
}

.navbar:not(.fixed-bottom):not(.navbar-fixed-bottom):not(.navbar-fixed-bottom) {
    margin-bottom: 0px;
}

.response {
  height: auto;
  width: 100%;
  /*border-radius: 5%;*/
  border: 0px;
  background: white;
  vertical-align: middle;
  padding: 3px;
  /*text-align: center;*/
}

#funding{
  background-color: #f2f5f7;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius:5px;
  padding: 3%;
  margin-bottom:0;
  font-size: 0.8em;
}

.ipad{
  height:80vh;
  border-radius:10px;
  /*background-color:#f1f1f1;*/
  touch-action: manipulation;
}

.testinfo{
  background-color: #f2f5f7;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius:5px;
  padding: 2%;
  margin-bottom:0;
  max-height: 80vh;
  overflow-y: auto;
}

.page2{
  /*background-color: #f2f5f7;*/
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius:5px;
  padding: 20px;
  width: 95%;
  /*height: 300px;*/
  margin-left: auto;
  margin-right: auto;
  position:relative;
  min-height: 220px;
}

.page2buttons{
  position: absolute;
  right:    5px;
  bottom:   5px;
}

p:last-child {
  margin-bottom: 0;
}

.fa, .fab {
  margin-right: 5px;
  z-index: 1000;
}

li > ul {
  padding-bottom: 0.5em;
}

.accordion-button:not(.collapsed)::after {
    transition: transform .3s ease-in-out;
}


.accordion-button::after {
    transition: transform .3s ease-in-out;
}

.accordion-button {
  background: transparent;
}

.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #FFF;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-collapse {
  transition: all .3s ease;
}

.accordion-body {
  background-color: #FFF;
}
.accordion-item {
    background-color: transparent;
}
